<!-- AngularJS -->
<div ng-app="myApp.mood" ng-controller="FormCtrl">
	<p>Det här är ditt humör!</p>
	<form name="moodForm" ng-submit="submitForm()">
		Kön:
		<input type="radio" ng-model="data.gender" value="male" /> Male 
		<input type="radio" ng-model="data.gender" value="female" /> Female <br/><br/>
		Hur mår du idag? <br/>
		<input type="radio" ng-model="data.currentMood" value="happy"> Happy
		<input type="radio" ng-model="data.currentMood" value="neutral"> Neutral 
		<input type="radio" ng-model="data.currentMood" value="sad"> Sad <br/><br/>
		Välj stil: <br/>
		<select ng-model="data.style">
			<option value="homeclothes">Mys</option>
			<option value="party">Fest</option>
			<option value="hiphop">Hiphop</option>
		</select>
		<br/><br/>
		Dagens prognos <br/>
		<p>Massa prognoser</p>
		<input type="submit" ngClick="submitForm">
	</form>
</div>

<!-- <div class="container">
	<p>Det här är ditt humör!</p>
	<form name="moodForm">
		<div class="form-group" id="gender">
			Kön:
			<input type="radio" value="gender" value="male" /> Male 
			<input type="radio" value="gender" value="female" /> Female <br/><br/>
		</div>
		<div class="form-group" id="currentMood">
			Hur mår du idag? <br/>
			<input type="radio" value="currentMood" value="happy"> Happy
			<input type="radio" value="currentMood" value="neutral"> Neutral 
			<input type="radio" value="currentMood" value="sad"> Sad <br/><br/>
		</div>
		<div class="form-group" id="chooseStyle">
			Välj stil: <br/>
			<select>
				<option value="homeclothes">Mys</option>
				<option value="party">Fest</option>
				<option value="hiphop">Hiphop</option>
			</select>
			<br/><br/>
		</div>
		<div class="form-group">
			Dagens prognos <br/>
			<p>Massa prognoser</p>
		</div>
		<input type="submit" value="klar">
	</form>
</div>
 -->