<!-- AngularJS -->
<div class="visible-xs" ng-app="myApp.mood" ng-controller="FormCtrl">
	<form name="moodForm" ng-submit="submitForm()">
        <div class="row text-center">

			Dagens prognos
			<br/>
			<img src="../Koood/app/images/weatherbar.png" height="60" width="330"/>
			<br><br/>

			<p>Kön?</p>
			<br/>
            <label>
                <img src="../Koood/app/images/Male.png" height="30" width="30"/>
                <input type="radio" ng-model="data.gender" value="male" />
            </label>
			 <label>
				<img src="../Koood/app/images/Female.png" height="30" width="30"/>
				<input type="radio" ng-model="data.gender" value="female" />
			 </label>
		</div>
        <br/>

        <div class="row text-center">
				<p>Hur mår du idag?</p>
				<br/>
				<label>
					<img src="../Koood/app/images/happy-512.png" height="30" width="30"/>
					<input type="radio" ng-model="data.currentMood" value="happy">
				</label>
				<label>
					<img src="../Koood/app/images/Neutral.png" height="30" width="30"/>
					<input type="radio" ng-model="data.currentMood" value="neutral">
				</label>

				<label>
					<img src="../Koood/app/images/sad.png" height="30" width="30"/>
					<input type="radio" ng-model="data.currentMood" value="sad">
				</label>
        </div>

		<br/>
		<br/>
		
		<div class="row">
			<div class="col-sm-12 text-center">
				<button type="button" class="toggle" data-toggle="collapse" data-target="#chooseStyle">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span>Välj stil</span>
					<span class="icon-bar"></span>
				</button>
			</div>
		</div>
		<div id="chooseStyle" class="row text-center navbar-collapse collapse">
			<label class="styleSelectionButton" data-parent="#chooseStyle" data-toggle="collapse" data-target="#chooseStryle">									<!-- skapa classen styleSelectionButton i css. -->
				<input type="radio" ng-model="data.style" value="Goth" >Goth</input>	<!-- Får det inte att funka att ha det som en knapp. -->
			</label>																<!-- Det kopplar då inte till form:et --> <!--ng-change="newValue()"-->
			<br/>
			<label class="styleSelectionButton">
				<input type="radio" ng-model="data.style" value="Fancy">Fest</input>
			</label>
			<br/>
			<label class="styleSelectionButton">
				<input type="radio" ng-model="data.style" value="Hiphop">Hiphop</input>
			</label>
		</div>
		<br/><br/>
		<input type="submit" ngClick="submitForm" onClick="home()">
	</form>
</div>

<!-- <div class="container">
	<p>Det här är ditt humör!</p>
	<form name="moodForm">
		<div class="form-group" id="gender">
			Kön:
			<input type="radio" value="gender" value="male" /> Male 
			<input type="radio" value="gender" value="female" /> Female <br/><br/>
		</div>
		<div class="form-group" id="currentMood">
			Hur mår du idag? <br/>
			<input type="radio" value="currentMood" value="happy"> Happy
			<input type="radio" value="currentMood" value="neutral"> Neutral 
			<input type="radio" value="currentMood" value="sad"> Sad <br/><br/>
		</div>
		<div class="form-group" id="chooseStyle">
			Välj stil: <br/>
			<select>
				<option value="homeclothes">Mys</option>
				<option value="party">Fest</option>
				<option value="hiphop">Hiphop</option>
			</select>
			<br/><br/>
		</div>
		<div class="form-group">
			Dagens prognos <br/>
			<p>Massa prognoser</p>
		</div>
		<input type="submit" value="klar">
	</form>
</div>
 -->

