body {
 	font-family: "Times New Roman", Times, serif;
    background-repeat: no-repeat; /* ingen upprepande bakgrund */
    background-attachment: fixed; /*  en fastställd bakgrund */
    background-position: center center; /*  bakgrundens position */
}

.moln{
	position: absolute;
    top: 13%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.center{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo{
  	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    background:  #b3b3b3;
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #ff3399;
    color: white;
}

.help{
    background:  #b3b3b3;
    border: none;
    color: white;
	width: 60px;
	height: 60px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.help:hover {
    background-color: #ff3399;
    color: white;
}

/* Specifikationer fÃ¶r att skapa en animation fÃ¶r bakgrundsbilderna*/
/* https://css-tricks.com/almanac/properties/a/animation/ 
   https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
.background{
   
	-webkit-animation-name: example; 
    -webkit-animation-duration: 12s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;
 
    animation-name: example;
    animation-duration: 14s; /* Animationens tidsfÃ¶rlopp */
    animation-iteration-count: infinite; /* Animationen hÃ¥ller pÃ¥ fÃ¶r evigt  */
    animation-timing-function: ease-in; /* Animationen acceleration, utan Ã¶vergÃ¥ngar */
}

/* Animationens "rÃ¶relse" under det bestÃ¤mda tidsfÃ¶rloppet,
	utifrÃ¥n animationens Ã¶kning i procent.
	Anpassat fÃ¶r: Chrome, Safari, Opera */
/* https://css-tricks.com/almanac/properties/a/animation/ 
https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
@-webkit-keyframes example {
    0%   {background-image: url('bakgrund1.jpg');}
    33%   {background-image: url('bakgrund2.jpg');}
    66%  {background-image: url('bakgrund1.jpg');}
    100% {background-image: url('bakgrund2.jpg');}
}

/* Animationens "rÃ¶relse" under det bestÃ¤mda tidsfÃ¶rloppet,
	utifrÃ¥n animationens Ã¶kning i procent.
	Standard syntax */
/* https://css-tricks.com/almanac/properties/a/animation/ 
https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
@keyframes example {
    0%   {background-image: url('bakgrund1.jpg');}
    33%   {background-image: url('bakgrund2.jpg');}
    66%  {background-image: url('bakgrund1.jpg');}
    100% {background-image: url('bakgrund2.jpg');}
}