/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.logo {
  height: 40px;
  width: 65px;
}

.navbar-brand {
  padding: 5px 15px;
}


/* Popup container */

/*
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 333px;
  width: 200px;
  height: 100px;
}

/* The actual popup (appears on top) */

/*
.popup .popuptext {
  visibility: hidden;
  margin: auto;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */

/*
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  right: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent transparent;

}

.popup .background{

  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: Black;
  z-index: 1;
  /* These three lines are for transparency in all browsers. */

  /*
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: .5;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */

/*

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */

/*@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.3;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 0.3;}
}*/

/* The Modal (background)*/

.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity
}


/* Modal Content/Box */
 .modal-content {
  background-color: #fefefe;
  margin: 100% auto;
   z-index: auto;

   float: right;
   padding: 20px; /* 15% from the top and centered



  border: 1px solid #800000;
  width: 50%; /* Could be more or less, depending on screen size -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(0%, 0%);
  transform: translate(0, -50%);*/


}

.popup
{
  border-radius: 7px;
  background:#6b6a63;
  margin:auto;
  padding:6px;
  overflow: auto;

  position:absolute;
  width:800px;
  top: 0%;
  left: 0%;
  bottom: 0;
  right: 0;
  margin-left: -200px;
  margin-top: -20px;



   /* height: 50%;
    /* Set your own height: percents, ems, whatever! *

  width: 50%;
  !* Set your own width: percents, ems, whatever! *!

  overflow: auto;
  !* Recommended in case content is larger than the container *!

  margin: auto;
  !* Center the item vertically &amp; horizontally *!

  position: absolute;
  !* Break it out of the regular flow *!

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  !* Set the bounds in which to center it, relative to its parent/container *!

  background-color: green;*/
}


#myBtn {

  position: absolute;
  margin-left: 100px;
  margin-top: 200px;

}


/*
.Absolute-Center {

  height: 50%;
    /* Set your own height: percents, ems, whatever! */

/*  width: 50%;
  /* Set your own width: percents, ems, whatever! */

/*  overflow: auto;
  /* Recommended in case content is larger than the container */
/*
  margin: auto;
  !* Center the item vertically &amp; horizontally *!

  position: absolute;
  !* Break it out of the regular flow *!

  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  !* Set the bounds in which to center it, relative to its parent/container *!

  background-color: green;
  }*/

/*.Center-Container {
  position: relative;
}
!* Make sure our center blocks stay in their container! *!

.Absolute-Center.is-Fixed {
  position: fixed;
  z-index: 999;
}
!* Fixed floating element within viewport *!

.Absolute-Center.is-Responsive {
  width: 60%;
  height: 60%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
!* The Close Button *!
*/
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
 .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}


/* Modal Footer */
  .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */

  .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

  @-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0}

  to {
    top: 0;
    opacity: 1}
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }

}


