/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.logo {
  height: 40px;
  width: 65px;
}

.navbar-brand {
  padding: 5px 15px;
}

#menuButton{
    position: absolute;
    z-index: 123; /*detta avgör vad vilket som ligger på vad. Så länge z-index här är > z-index på vanliga sidan, så fungerar menyknappen*/
}


#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity*/
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}


/* Modal Content/Box */
 .modal-content {
  z-index: auto;
  left: 0px;
  top: 200px;
  float: inherit;
  padding: 20px; /* 15% from the top and centered*/
  background-color: #fefefe;
  margin: 100% auto;
  border: 1px solid #800000;
  width: 100%; /* Could be more or less, depending on screen size */
  -webkit-transform: translate(-50%, -50%);

   z-index: auto;

   float: right;
   padding: 20px; /* 15% from the top and centered*/

}



#myBtn {

  position: absolute;
  margin-left: 100px;
  margin-top: 200px;

}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
 .modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}


/* Modal Footer */
  .modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Content */

  .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */

  @-webkit-keyframes animatetop {
  from {
    top: -500px;
    opacity: 0}

  to {
    top: 0;
    opacity: 1}
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1
  }

}

/*-------------------------------------------------------------------------------------------------*/
/* mood css stylesheet */
/*-------------------------------------------------------------------------------------------------*/


/*Göra radioknapparna osynliga med bilden*/
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}

label > input + img{ /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;

}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #f00;
}

input[type=text] {
// Lägg till här
}
input[type=submit] {
    background-color: #555555;
    color: white;
    padding: 10px 24px;
    border-radius: 8px;
    text-align: center;
    font-size: 15px;
}
textarea{
// Lägg till här
}

/*-------------------------------------------------------------------------------------------------*/
/* Home css stylesheet */
/*-------------------------------------------------------------------------------------------------*/


.weather-icon {
  height: 50px;
  width: 50px;
}

.outfitCarousel {
    padding: 20px;
}

#slides_control_top {
    padding-bottom: 10px;
}

#imgTopCarousel, #imgBottomCarousel {
    height: 150px;
    overflow: hidden;
    margin:auto;
}

/*-------------------------------------------------------------------------------------------------*/
/* Start css stylesheet */
/*-------------------------------------------------------------------------------------------------*/


/*.background {
    font-family: "Times New Roman", Times, serif;
    background-image: url("images/background/watercolour-blur.png");
    opacity: 0.4;
    filter: alpha(opacity=40);
    position: float;
    z-index: -1;
    background-repeat: no-repeat; /* ingen upprepande bakgrund */
    /*background-attachment: fixed; /*  en fastställd bakgrund */
   /* background-position: center center; /*  bakgrundens position */
/* }*/

body.start #page-header-wrapper {
    display: none !important;
}

.moln{
    position: absolute;
    top: 13%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.center{
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logga{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button{
    border: none;
    color: white;
    padding: 12px 28px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: #ff3399;
    color: white;
}

.help{
    background-image: url('/images/background/help-button.png');
    border: none;
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.help:hover {
    background-color: #ff3399;
    color: white;
}

.get-started {
    background-image: url('/images/background/get-started-button.png');
    border: none;
}

/* Specifikationer fÃ¶r att skapa en animation fÃ¶r bakgrundsbilderna*/
/* https://css-tricks.com/almanac/properties/a/animation/
   https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
.background{

    -webkit-animation-name: example;
    -webkit-animation-duration: 12s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-timing-function: step-start;

    animation-name: example;
    animation-duration: 14s; /* Animationens tidsfÃ¶rlopp */
    animation-iteration-count: infinite; /* Animationen hÃ¥ller pÃ¥ fÃ¶r evigt  */
    animation-timing-function: ease-in; /* Animationen acceleration, utan Ã¶vergÃ¥ngar */
}

/* https://css-tricks.com/almanac/properties/a/animation/
https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
@-webkit-keyframes example {
    0%   {background-image: url('images/background/bakgrund1.jpg');}
    33%  {background-image: url('images/background/bakgrund2.jpg');}
    66%  {background-image: url('images/background/bakgrund1.jpg');}
    100% {background-image: url('images/background/bakgrund2.jpg');}
}

/* https://css-tricks.com/almanac/properties/a/animation/
https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
@keyframes example {
    0%   {background-image: url('images/background/bakgrund1.jpg');}
    33%  {background-image: url('images/background/bakgrund2.jpg');}
    66%  {background-image: url('images/background/bakgrund1.jpg');}
    100% {background-image: url('images/background/bakgrund2.jpg');}
}

/*-------------------------------------------------------------------------------------------------*/
/* Favorites css stylesheet */
/*-------------------------------------------------------------------------------------------------*/

#wrapper {
    width: 90%;
    max-width: 1500px;
    min-width: 300px;
    margin: 50px auto;
}

#columns {
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 3;
    column-gap: 15px;
    column-fill: auto;
}

.pin {
    display: inline-block;
    border: 2px solid #FAFAFA;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;

    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

.pin img {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    #columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 768px) {
    #columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

#columns:hover .pin:not(:hover)
{
    opacity: 0.4;
}

/* **************** TEST **************** */
