<div class="container_center">
	<div class="weather-forecast col-xs-9">
		<iframe id="forecast_embed" type="text/html" frameborder="0" height="128" width="190"
				src="http://forecast.io/embed/#lat=58.6&lon=16.1833333&name=Norrköping&color=#00aaff&font=Arial&units=si"> </iframe>
	</div>
	<div class="tips col-xs-3">
		<button type="button" class="helpme"></button>
	</div>
	<!--
		<button id="myBtn">Open Modal</button>
		<div id="myModal" class="modal">

			&lt;!&ndash; Modal content &ndash;&gt;
			<div class="modal-content">

				<span class="close">X</span>

				<a href="default.asp">
					<img src="app/images/heart.png" alt="Heart" style="float:left; width:42px; height:42px;">
				</a>

				<img src="app/images/basic_shirt_trans.png" alt="Basic Shirt" style="float:center;width:254px;height:178px;">

				<div class = "text">
					<p> "Här kan det stå lite om plagget" </p>
				</div>

			</div>

		</div>
	-->
	<div class="outfitCarousel col-xs-12 col-md-8 col-lg-8">
		<div class="topCarousel  ng-app="myApp.home.carousel">
			<!-- AngularJS - karousell -->
			<div ng-controller="CarouselCtrl" class="slides_control_top">
				<uib-carousel interval="myInterval" active="activeSlide">
					<uib-slide ng-repeat="item_top in items_top" index="$index">
						<img id="imgTopCarousel" ng-src="{{item_top.imgSrc}}" >
					</uib-slide>
				</uib-carousel>
			</div>
		<br />
		</div>
		<div class="bottomCarousel ng-app="myApp.home.carousel">
			<!-- AngularJS - karousell -->
			<div ng-controller="CarouselCtrl" class="slides_control_bottom">
				<uib-carousel interval="myInterval" active="activeSlide">
					<uib-slide ng-repeat="item_bottom in items_bottom" index="$index">
						<div id="imagesButtom">
							<!--<img src="app/images/heart-gray.png" id="imgHeart">-->
							<img id="imgTopCarousel" ng-src="{{item_bottom.imgSrc}}" id="imgButtom">
						</div>
					</uib-slide>
				</uib-carousel>
			</div>
		</div>
	</div>
	<div class= "outfit">
		<a href="#!/outfits"><button type="button" class="button">Välj Outfit!</button></a>
	</div>
</div>
